<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Damped sinusoidal wave - svg format</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.css" integrity="sha384-nB0miv6/jRmo5UMMR1wu3Gz6NLsoTkbqJghGIsx//Rlm+ZU03BU6SQNC66uf4l5+" crossorigin="anonymous">
    <!-- The loading of KaTeX is deferred to speed up page rendering -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.js" integrity="sha384-7zkQWkzuo3B5mTepMUcHkMB5jZaolc2xDwL6VFqjFALcbeS9Ggm/Yr2r3Dy4lfFg" crossorigin="anonymous"></script>
    <!-- To automatically render math in text elements, include the auto-render extension: -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/contrib/auto-render.min.js" integrity="sha384-43gviWU0YVjaDtb/GhzOouOXtZMP/7XUzwPTstBeZFe/+rCMvRwr4yROQP43s0Xk" crossorigin="anonymous" onload="renderMathInElement(document.body);"></script>
  </head>

  <body style="background: #ffffff;" onload="onPageLoad();">

  <h3>Damped sinusoidal wave</h3>

  <p>This web page visualizes the function \( u(t) = Ae^{-bt}\sin(wt), \hbox{ for } t\in [0, T]\)</p>

  <form method=post action="">
    <table>{% for field in form %}
      <tr>
        <td class="name">\({{field.name}}\)</td>
        <td>{{field(size=12)}}</td>
        <td>{{field.label}}</td>
        {% if field.errors %}
        <td>
          <ul class="errors">{% for error in field.errors %}
          <li style="color:red;">{{error}}</li>
          {% endfor %}</ul>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </table>
    <p><input type="submit" value="Compute"></p>
  </form>

  <p>{% if result != None %}
  {{result|safe}}
  {% endif %}</p>

  </body>

</html>
